<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-3.3.1.js"></script>
 <script defer src="/js/script.js"></script>
  <link rel='stylesheet' href='/css/style.css' />
  <title>Your Favorite Cars</title>
</head>
<a>
  <img class="img1" src="https://specials-images.forbesimg.com/imageserve/5d3703e2f1176b00089761a6/960x0.jpg?cropX1=836&cropX2=5396&cropY1=799&cropY2=3364">
  <img class="img2" src="https://i.pinimg.com/originals/ab/1b/83/ab1b8353e32ecfb11ad3b9b492b55b16.jpg">
</a>

<body>
  <h1>Your Favorite Cars</h1>
 
  <section id="cars"></section>
  <a href="/cars/new"> Add a New Car to Your List</a>
  
  <a href="/cars">See All Your Cars</a >

</body>
</html>