<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script defer src="/js/script.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
    <title>Your Favorite Cars | Add New Car</title>
</head>
<a>
<img class="img4" src="https://cdn.pixabay.com/photo/2019/10/19/03/50/bmw-4560531_1280.jpg">
<img class="img5" src="https://images.hgmsites.net/hug/bugatti-chiron-super-sport-300_100714942_h.jpg">

</a>

<body>
    <h1>Enter a new car</h1>
    <form action="/cars" method="POST">
        <label>Car Name:
            <input type="text" name="carName">
        </label>
        <label>Making Year:
            <input type="year" name="makingYear">
        </label>
            <label>Cylinder
                <select name="carCylinder">
                    <option value="4">4</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                </select>
            </label>
        
        <label> Origin:
            <input type="text" name="origin">
        </label>
        <label>Rating:
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>

        </select>
    </label>
        <input type="submit" value="Add Car">
    </form>
</body>
</html>